[Desktop Entry]
Name=zk-BAN Desktop
Comment=zk-BAN Signing App
Type=Application
Exec=ZK_BAN_DESKTOP/desktop/run.sh %u
Terminal=true
NoDisplay=true
MimeType=x-scheme-handler/zk-ban;
Path=ZK_BAN_DESKTOP/desktop

